In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split,cross_val_score

In [8]:
data={'math':[2,1,3,4,5],
      'physics':[6,7,8,9,10],
      'French':[11,12,13,14,15],
      'chemistry':[16,17,18,19,20]}

In [9]:
df=pd.DataFrame(data)
df

   math  physics  French  chemistry
0     2        6      11         16
1     1        7      12         17
2     3        8      13         18
3     4        9      14         19
4     5       10      15         20

In [10]:
df["chemistry"]

0    16
1    17
2    18
3    19
4    20
Name: chemistry, dtype: int64

In [11]:
df["math"].sort_values()

1    1
0    2
2    3
3    4
4    5
Name: math, dtype: int64

In [13]:
df[0:2]

   math  physics  French  chemistry
0     2        6      11         16
1     1        7      12         17